@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


textarea{
  resize: none;
}

#circle{
  transition: all .5s linear;
  animation: scaling 5s linear infinite;
  
}

@keyframes scaling {
  0%{
    scale: .9;
    box-shadow: 0px 0px 15px 5px yellow;
  }
  50%{
    scale: 1.05;
    box-shadow: 0px 0px 20px 7px red;
  }
  100%{
    scale: .9;
    box-shadow: 0px 0px 15px 5px cyan;
  }
}